{% extends "base.html" %}
{% block title %}About{% end %}

{% block content %}
<div class="hero-unit">
            <h1>About</h1>
              <p>TroefCall Online is begonnen als een hobby project om mezelf Python en HTML5 technieken te leren. Alle code is beschikbaar op <a href="https://github.com/nagazuka/websocket-cardgame">GitHub</a>. Ik heb de volgende tools hiervoor gebruikt:</p>
          </div>

          <div class="row-fluid">
            <div class="span4">
              <h2>JavaScript</h2>
              <p>
              <ul>
                <li>Raphael.js v2.0</li>
                <li>Underscore.js v1.2.0</li>
                <li>jQuery v1.6.4</li>
              </ul>
              </p>
            </div><!--/span-->
            <div class="span4">
              <h2>CSS</h2>
              <p>Twitter Bootstrap
              </p>
            </div><!--/span-->
            <div class="span4">
              <h2>Server-side</h2>
              <p>Tornado Web Framework v2.2</p>
            </div><!--/span-->
          </div><!--/row-->
          
          <div class="row-fluid">
            <div class="span4">
              <h2>Graphics</h2>
              <p>
              <ul>
                <li>Nicu's Playing Cards <a href="http://nicubunu.ro/cards/">link</a></li>
                <li>Flag Icons <a href="http://icondrawer.com//">link</a></li>
                <li>Face Avatars by deleket <a href="http://deleket.deviantart.com/art/Face-Avatars-107881096">link</a></li></li>
              </ul>
              </p>
            </div><!--/span-->
            <div class="span4">
              <h2>Source code</h2>
                <p>Github <a href="https://github.com/nagazuka/websocket-cardgame">link</a></p>
            </div><!--/span-->
          </div><!--/row-->
{% end %}
