<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TroefCall Online, by Savit Software - {% block title %}{% end %}</title>
    <meta name="description" content="">
    <meta name="author" content="Shanny Anoep">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="presentation/bootstrap.css" rel="stylesheet">
    <link href="presentation/screen.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="presentation/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-t p">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Troefcall Online</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
        {% block content %}&nbsp;{% end %}
        </div><!--/span-->
        <!--
        <div class="span1">
        {% comment include sidebar.html %}
        </div><!--/span-->
        -->
      </div><!--/row-->

      <hr>

      <div id="welcomeModal" class="modal hide fade"> 
        <div class="modal-header">
          <a id="closePlayerName" href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>Welkom bij TroefCall Online</h3>
        </div>
        <form id="formPlayerName" class="well">
        <div class="modal-body">
          <p>Voordat we beginnen met TroefCall Online, eerst je naam invoeren:</p>
            <label>Naam</label>
              <input id="inputPlayerName" type="text" class="span3" placeholder="Typ iets…"> <span class="help-inline">&nbsp;</span>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Starten</button>
          <!--<a id="btnStartGame" href="#" data-dismiss="modal" class="btn btn-primary">Starten</a>-->
        </div>
        </form>
      </div>

      <footer>
        <p>&copy; Savit Software 2011</p>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="behaviour/jquery-1.7.1.js"></script>
    <script src="behaviour/raphael-2.0.1.js" type="text/javascript"></script>
    <script src="behaviour/underscore-1.3.1.js" type="text/javascript"></script>
    <script src="behaviour/bootstrap.js"></script>

    <script src="config/config.js"></script>
    <script src="behaviour/messages.js"></script>
    <script src="behaviour/model.js"></script>
    <script src="behaviour/view.js"></script>
    <script src="behaviour/engine.js" type="text/javascript"></script>

  </body>
</html>

