{% extends "base.html" %}
{% block title %}Home{% end %}

{% block content %}
<div class="row-fluid">
  <div class="span9">
    <div id="canvas">
      &nbsp;
    </div>
    <div id="browser-not-supported">
      <p>Het lijkt erop dat je huidige browser niet geschikt is voor deze game. Download alsjeblieft een nieuwere versie van Chrome of Firefox!</p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <h3>Debug</h3>
    <p id="debug-content">&nbsp;</p>
  </div>
  <div class="span4">
    <h3>Errors</h3>
    <p id="error-content">&nbsp;</p>
  </div>
</div>
{% end %}
