{% extends "base.html" %}
{% block title %}Home{% end %}

{% block content %}
<div class="row-fluid">
  <div class="span12">

    <div id="progressOverlay">
      <div class="span6">
        <h1 id="txtLoading">Bezig met laden...</h1>
        <div class="progress progress-danger progress-striped active">
          <div id="progressBar" class="bar" style="width: 0%"></div>
        </div>
      </div>
    </div>

    <div id="canvas">
      &nbsp;
      <div id="alertContainer" class="span3">
        <div class="alert alert-block alert-error">
          <h4 id="txtAlertHeading" class="alert-heading">&nbsp;</h4>
          <span id="txtAlert">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="scoreContainer" class="row-fluid">
  <div class="span4">
    <h3>Team</h3>
          <table id="team-score" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr> 
              <th>Team</th>
              <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr> 
              <td id="team-name-1">Team 1</td>
              <td id="team-score-1">0</td>
            </tr>
            <tr> 
              <td id="team-name-2">Team 2</td>
              <td id="team-score-2">0</td>
            </tr>
            </tbody>
          </table> 
  </div>
  <div class="span4">
    <h3>Players</h3>
          <table id="player-score" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr> 
              <th>Player</th>
              <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr> 
              <td id="player-name-1">Player #1</td>
              <td id="player-score-1">0</td>
            </tr>
            <tr> 
              <td id="player-name-2">Player #2</td>
              <td id="player-score-2">0</td>
            </tr>
            <tr> 
              <td id="player-name-3">Player #3</td>
              <td id="player-score-3">0</td>
            </tr>
            <tr> 
              <td id="player-name-4">Player #4</td>
              <td id="player-score-4">0</td>
            </tr>
            </tbody>
          </table> 
  </div>
</div>
{% comment 
<div id="debugContainer" class="row-fluid">
  <div class="span4">
    <h3>Debug</h3>
    <p id="debug-content">&nbsp;</p>
  </div>
  <div class="span4">
    <h3>Errors</h3>
    <p id="error-content">&nbsp;</p>
  </div>
%}
      <div id="welcomeModal" class="modal hide fade"> 
        <div class="modal-header">
          <a id="closePlayerName" href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>Welkom bij TroefCall Online</h3>
        </div>
        <form id="formPlayerName" class="well">
        <div class="modal-body">
          <p>Voordat we beginnen met TroefCall Online, eerst je naam invoeren:</p>
            <label>Naam</label>
              <input id="inputPlayerName" type="text" class="span3" placeholder="Typ iets"> <span class="help-inline">&nbsp;</span>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Starten</button>
        </div>
        </form>
      </div>
      
      <div id="disconnectModal" class="modal hide fade"> 
        <div class="modal-header">
          <a id="closeModalHeader" href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>Oh oh...</h3>
        </div>
        <form id="formPlayerName" class="well">
        <div class="modal-body">
          <h3>Verbinding verloren</h3>
          <p>Het lijkt erop dat de verbinding met TroefCall Online is verloren. Check je internet toegang even en probeer het later opnieuw. Sorry...</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Opnieuw laden</button>
        </div>
        </form>
      </div>
</div>
{% end %}
