          <table id="team-score" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr> 
              <th>Team</th>
              <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr> 
              <td id="team-name-1">Team 1</td>
              <td id="team-score-1">0</td>
            </tr>
            <tr> 
              <td id="team-name-2">Team 2</td>
              <td id="team-score-2">0</td>
            </tr>
            </tbody>
          </table> 
          
          <table id="player-score" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr> 
              <th>Player</th>
              <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr> 
              <td id="player-name-1">#1</td>
              <td id="player-score-1">0</td>
            </tr>
            <tr> 
              <td id="player-name-2">#2</td>
              <td id="player-score-2">0</td>
            </tr>
            <tr> 
              <td id="player-name-3">#3</td>
              <td id="player-score-3">0</td>
            </tr>
            <tr> 
              <td id="player-name-4">#4</td>
              <td id="player-score-4">0</td>
            </tr>
            </tbody>
          </table> 

          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
