#browser-not-supported #debugContainer #scoreContainer #canvas {
  display: none;
}

#alertContainer {
  display: none;
  z-index: 1000;
}

svg {
  display: block;
  margin: auto;
}

#progressOverlay {
  display: block;
  margin: auto;
  width: 728px;
}

#copyright {
  display: block;
  margin: auto;
  width: 200px;
}
